In [11]:
#import modules
import pandas as pd
from sklearn import linear_model
from sklearn.model_selection import train_test_split

print('Done...')

Done...

In [12]:
#load boston house dataset
from sklearn.datasets import load_boston
boston = load_boston()

print('Done...')

Done...

In [13]:
df_x = pd.DataFrame(boston.data,columns=boston.feature_names)
df_y = pd.DataFrame(boston.target)
print('Done...')

Done...

In [14]:
df_x.describe()

             CRIM          ZN       INDUS  ...     PTRATIO           B       LSTAT
count  506.000000  506.000000  506.000000  ...  506.000000  506.000000  506.000000
mean     3.613524   11.363636   11.136779  ...   18.455534  356.674032   12.653063
std      8.601545   23.322453    6.860353  ...    2.164946   91.294864    7.141062
min      0.006320    0.000000    0.460000  ...   12.600000    0.320000    1.730000
25%      0.082045    0.000000    5.190000  ...   17.400000  375.377500    6.950000
50%      0.256510    0.000000    9.690000  ...   19.050000  391.440000   11.360000
75%      3.677083   12.500000   18.100000  ...   20.200000  396.225000   16.955000
max     88.976200  100.000000   27.740000  ...   22.000000  396.900000   37.970000

[8 rows x 13 columns]

In [15]:
reg = linear_model.LinearRegression()

In [16]:
x_train,x_test,y_train,y_test = train_test_split(df_x,df_y,test_size = 0.3 ,random_state = 42)
print('Done...')

Done...

In [17]:
#train the model with our training data
reg.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [18]:
#print the coefficient of each column in our model 
print(reg.coef_)

[[-1.33470103e-01  3.58089136e-02  4.95226452e-02  3.11983512e+00
  -1.54170609e+01  4.05719923e+00 -1.08208352e-02 -1.38599824e+00
   2.42727340e-01 -8.70223437e-03 -9.10685208e-01  1.17941159e-02
  -5.47113313e-01]]

In [19]:
y_predict = reg.predict(x_test)
print(y_predict)

[[28.64896005]
 [36.49501384]
 [15.4111932 ]
 [25.40321303]
 [18.85527988]
 [23.14668944]
 [17.3921241 ]
 [14.07859899]
 [23.03692679]
 [20.59943345]
 [24.82286159]
 [18.53057049]
 [-6.86543527]
 [21.80172334]
 [19.22571177]
 [26.19191985]
 [20.27733882]
 [ 5.61596432]
 [40.44887974]
 [17.57695918]
 [27.44319095]
 [30.1715964 ]
 [10.94055823]
 [24.02083139]
 [18.07693812]
 [15.934748  ]
 [23.12614028]
 [14.56052142]
 [22.33482544]
 [19.3257627 ]
 [22.16564973]
 [25.19476081]
 [25.31372473]
 [18.51345025]
 [16.6223286 ]
 [17.50268505]
 [30.94992991]
 [20.19201752]
 [23.90440431]
 [24.86975466]
 [13.93767876]
 [31.82504715]
 [42.56978796]
 [17.62323805]
 [27.01963242]
 [17.19006621]
 [13.80594006]
 [26.10356557]
 [20.31516118]
 [30.08649576]
 [21.3124053 ]
 [34.15739602]
 [15.60444981]
 [26.11247588]
 [39.31613646]
 [22.99282065]
 [18.95764781]
 [33.05555669]
 [24.85114223]
 [12.91729352]
 [22.68101452]
 [30.80336295]
 [31.63522027]
 [16.29833689]
 [21.07379993]
 [16.57699669]
 [20.36362023]
 [26.15615896]
 [31.06833034]
 [11.98679953]
 [20.42550472]
 [27.55676301]
 [10.94316981]
 [16.82660609]
 [23.92909733]
 [ 5.28065815]
 [21.43504661]
 [41.33684993]
 [18.22211675]
 [ 9.48269245]
 [21.19857446]
 [12.95001331]
 [21.64822797]
 [ 9.3845568 ]
 [23.06060014]
 [31.95762512]
 [19.16662892]
 [25.59942257]
 [29.35043558]
 [20.13138581]
 [25.57297369]
 [ 5.42970803]
 [20.23169356]
 [15.1949595 ]
 [14.03241742]
 [20.91078077]
 [24.82249135]
 [-0.47712079]
 [13.70520524]
 [15.69525576]
 [22.06972676]
 [24.64152943]
 [10.7382866 ]
 [19.68622564]
 [23.63678009]
 [12.07974981]
 [18.47894211]
 [25.52713393]
 [20.93461307]
 [24.6955941 ]
 [ 7.59054562]
 [19.01046053]
 [21.9444339 ]
 [27.22319977]
 [32.18608828]
 [15.27826455]
 [34.39190421]
 [12.96314168]
 [21.01681316]
 [28.57880911]
 [15.86300844]
 [24.85124135]
 [ 3.37937111]
 [23.90465773]
 [25.81792146]
 [23.11020547]
 [25.33489201]
 [33.35545176]
 [20.60724498]
 [38.4772665 ]
 [13.97398533]
 [25.21923987]
 [17.80946626]
 [20.63437371]
 [ 9.80267398]
 [21.07953576]
 [22.3378417 ]
 [32.32381854]
 [31.48694863]
 [15.46621287]
 [16.86242766]
 [28.99330526]
 [24.95467894]
 [16.73633557]
 [ 6.12858395]
 [26.65990044]
 [23.34007187]
 [17.40367164]
 [13.38594123]
 [39.98342478]
 [16.68286302]
 [18.28561759]]

In [23]:
#check MSE
print(((y_predict - y_test )**2).mean())

0    21.517444
dtype: float64

In [21]:
#another way to check MSE

from sklearn.metrics import mean_squared_error

mean_squared_error(y_test,y_predict)

21.517444231176903